/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #fffef8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

header img {
	width: 22px;
	height: 22px;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
	gap: 5px;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

.div_title_and_btn_modify {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
	align-items: baseline;
	gap: 15px;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	height: 36px;
}

.btn_modify {
	display: none;
	border: none;
	height: 18px;
	background-color: rgba(255, 254, 248, 1);
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 1em;
}

#portfolio .icon_modify {
	display: inline;
	width: 84px;
	height: 18px;
}

#portfolio .div_btn_filter {
	display: flex;
	justify-content: center;
	gap: 15px;
	padding-top: 20px;
	padding-bottom: 50px;
}

.div_btn_filter .btn {
	display: flex;
	justify-content: center;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: #fffef8;
	color: #1D6154;
	font-size: 1.2rem;
	font-family: Syne;
	min-width: 100px;
	padding: 10px;
}

.div_btn_filter .btn:hover{
	background-color: #1D6154;
	color: #fff;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*PAGE LOGIN.HTML*/
header a {
	text-decoration: none;
	color: black;
}

header a:hover {
	color: #B1663C;
}

.section_login {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.section_login h1 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

.section_login form {
	display: flex;
    flex-direction: column;
    gap: 10px;
}

.section_login input {
	border: none;
	min-width: 380px;
	height: 45px;
	background-color: #fff;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
}

.display_Error_Login {
	border: 1px solid red;
}

.section_login a {
	color: black;
}

.error_Login {
	color: red;
}

.btn_login {
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	margin-top: 40px;
	margin-left: 27%;
	width: 180px;
	height: 36px;
	background-color: #1D6154;
	color: #fff;
	font-family: "syne";
	font-weight: 700;
	font-size: 14px;	
}

/* Affichage quand l'utilisateur est connecté */

.topBar {
	height: 59px;
	background-color: rgba(0, 0, 0, 1);
	display: none;
    justify-content: center;
    align-items: center;
}

.topBar span {
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 400;
	margin-left: 5px;
}

.fa-pen-to-square {
	color: rgba(255, 255, 255, 1);		
}

/* Affichage 1ère modale */

.modal {
	display: none;
	justify-content: center;
	align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
	top : 0;
	left: 0;	
	width: 100%;
	height: 100%;
}

.modal_portfolio {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	width: 630px;
	height: 688px;
}

.modal_portfolio span {
	font-family: Work Sans;
	font-weight: 400;
	font-size: 16px;
	margin-left: 15px;
}

.fa-xmark {
	position: absolute;
	top : 20px;
	right: 20px;
	cursor: pointer;
}

.title_Modal {
	width: 175px;
	height: 30px;
	font-family: Work Sans;
	font-weight: 400;
	font-size: 26px;
	color: rgba(0, 0, 0, 1);
}

.selection_gallery {
	margin: 10px 110px;
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    gap: 7px;
	
}

.selection_gallery img {
	width: 75px;
	height: 100px;	
}


figure {
	position: relative;
}

figure span {		
	position: absolute;
	top: 5px;
	right: 5px;	
}

figure i {	
	font-size: 15px;
	text-align: center;
	padding: 3px;
	width: 14px;
	height: 15px;
	border-radius: 2px;
	background: black;
	color: white;
}

.line {
	border: 1px solid rgba(179, 179, 179, 1);
	width: 420px;
}

.btn_Modal {
	background-color: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;	
	width: 240px;
	height: 36px;
	background-color: #1D6154;
	color: #fff;
	font-family: "syne";
	font-weight: 700;
	font-size: 14px;	
}

/* Affichage 2ème modale */
.modal_2 {
	display: none;
	justify-content: center;
	align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
	top : 0;
	left: 0;	
	width: 100%;
	height: 100%;
}

.modal_add_picture{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	position: relative;
	background-color: rgba(255, 255, 255, 1);
	border-radius: 10px;
	width: 630px;
	height: 688px;
}

.fa-arrow-left {
	position: absolute;
	top : 20px;
	left: 20px;
	cursor: pointer;
}

.content_modal_add_picture {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(232, 241, 246, 1);
	border-radius: 3px;
	gap: 10px;
	width: 420px;
	height: 170px;
}

.iconVector {
	width: 76px;
	height: 76px;
}

.btn_add_picture {
	border: none;
	background-color: rgb(203, 214, 220);
	color: rgb(48, 102, 133);
	font-size: 14px;
	font-weight: 500;
	border-radius: 50px;
	width: 180px;
	height: 36px;
}

.previewPicture {
	width: 114px;
	height: 20px;
    overflow: hidden;    
    background-color: rgba(232, 241, 246, 1);
}

.modal_add_picture form {
	display: flex;
    flex-direction: column;
    gap: 15px;
	width: 420px;
		
}

.modal_add_picture input {
	border: transparent;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
	height: 50px;
	
}

.modal_add_picture select {
	border: transparent;
	background-color: rgba(255, 255, 255, 1);
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
	height: 50px;
}